body {
    font-family: Arial, Helvetica, sans-serif;
    background: gray;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 100vh;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 30%;
    position: fixed;
    top: 20px;
    animation: dropDown ease-in 1s;
    transition: ease 0.4s;
    z-index: 9;
}

.download {
    
}

.download-app:active {
    transform: scale(1.05);
}

nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    height: 50px;
    background: black;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    box-shadow: 10px 10px 10px gray;
}



.card:nth-child(2) {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 320px;
    width: 290px;
    right: 55%;
    top: 120px;
    border: 3px solid white;
    background: black;
    box-shadow: 2px 2px 10px black;
}
.card:nth-child(3) {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 520px;
    width: 290px;
    left: 55%;
    top: 150px;
    border: 3px solid white;
    background: black;
    box-shadow: 2px 2px 10px black;
}

.card:nth-child(4) {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 320px;
    width: 290px;
    right: 55%;
    top: 500px;
    border: 3px solid white;
    background: black;
    box-shadow: 2px 2px 10px black;
}

.experience {
    
}

.about {
    
}

.goals {
    
}

.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.workTitle {
    text-align: center;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    width: 50%;
}

.workParagraph {
    text-align: center;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    width: 45%
}

.meTitle {
    text-align: center;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
}

.formText {
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin: 5px;
}

.formText:nth-child(1):active {
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 10px;
    background-color: lightgray;
    border-radius: 20px;
}

.formLabel {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sendButton {
    text-align: center;
    background-color: black;
    padding: 10px;
    border-radius: 20px;
    color: white;
}

.first {
    background-color: black;
    padding: 10px;
    border-radius: 20px;
    color: white;
    margin: 5px;
}

.last {
    background-color: black;
    padding: 10px;
    border-radius: 20px;
    color: white;
    margin: 5px;
}

.email {
    background-color: black;
    padding: 10px;
    border-radius: 20px;
    color: white;
    margin: 5px;
}

.phone {
    background-color: black;
    padding: 10px;
    border-radius: 20px;
    color: white;
    margin: 5px;
}

.workExpected {
    background-color: black;
    padding: 10px;
    border-radius: 20px;
    color: white;
    margin: 5px;
}

.submit {
    background-color: black;
    padding: 10px;
    border-radius: 20px;
    color: white;
    margin: 5px;
}

.submit:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    box-shadow: 2px 2px 10px black;
    scale: 1.1;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}



@keyframes shake {
    from {
        transform: scale(1.2);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes dropDown {
    from {
        top: -25%;
    }
    to {
        top: 20px;
    }
}


